.Item {
    margin: 5%;
}
.Image {
    width: 75%;
}
.Item-options {
    display: grid;
}
.Size-select {
    width: 10%;
}
.Length-select {
    width: 12%;
}
.Button {
    margin: 1%;
}

@media only screen and (max-width: 600px) {
    .Size-select {
        width: 55%;
    }
    .Length-select {
        width: 55%;
    }
}